@using blazor.viewmodels

@inject ITodoViewModel TodoVM

<div class="input-group mb-3">
    <input @bind="TodoVM.newItemName" type="text" class="form-control" placeholder="Nieuw todo item" aria-label="Recipient's username">
    <button class="btn btn-outline-primary" type="button" @onclick="TodoVM.AddItem">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>

@code {

}