@page "/"

<h1 class="text-center">Todo</h1>

<div class="d-flex flex-column align-items-center">
    <div class="todo-container">
        <AddTodoForm/>
        <TodoTable/>
    </div>
</div>


@code {
}